html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.full-height {
    height: 100%;
}

.card-pf.card-pf-view {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.card-pf-body {
    flex: 1 1 auto;
    align-self: center;
}


.result {
    padding: 10px;
    border: 1px solid #ccc
}

pre strong {
    color: #703fec;
}
