<h1>Definitions</h1>


<ul class="list-unstyled">
    <li>
        <h3>HTML Component</h3>
        <pre><strong>&lt;textarea&gt;</strong><span class="text-muted">content</span><strong>&lt;/textarea&gt;</strong></pre>
    </li>
    <li>
        <h3>HTML Attribute</h3>
        <pre>&lt;textarea <strong>title="my area"</strong>&gt;<span class="text-muted">content</span>&lt;/textarea&gt;</pre>
    </li>

    <li>
        <h3>DOM Selectors</h3>
        <pre>&lt;textarea id="area51" class="myclass"&gt;<span class="text-muted">content</span>&lt;/textarea&gt;</pre>

        <ul>
            <li><code>textarea</code></li>
            <li><code>.myclass</code></li>
            <li><code>textarea.textarea</code></li>
            <li><code>#area51</code></li>
        </ul>
    </li>
</ul>

