<h1>Directives vs. Components</h1>

<ul>
    <li>camel case in code, e.g. <code>ngModel</code></li>
    <li>dash-delimited in DOM, e.g. <code>ng-model</code></li>
</ul>


<ul>
    <li>
        Components
        <ul>
            <li>create new DOM elements</li>
            <li>expected native browser support</li>
        </ul>
    </li>

    <li>
        Directives
        <ul>
            <li>manipulate with DOM with current elements</li>
            <li>can access pre-compile functions</li>
        </ul>
    </li>
</ul>
