<h1>New AngularJS Application</h1>


<ol>
    <li>
        Download AngularJS
        <br>
        <a href="http://code.angularjs.org/1.6.6/angular-1.6.6.zip">http://code.angularjs.org/1.6.6/angular-1.6.6.zip</a>
    </li>
    <li>
        Create application module
        <br>
        <span class="text-muted">example <code>js/AngularjsPresentation.module.js</code></span>
        <br>
        <pre>angular.module('AngularjsPresentation');</pre>
    </li>
    <li>
        Create skeleton and include all necessary JS files
        <br>
        <span class="text-muted"><i>see next slide</i></span>
    </li>
</ol>
